@import '@fontsource/grandstander';
@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-family: Grandstander;
}

/* @layer utilities {
    .flipped  {
      background: red;
      transform: rotateY(180deg);
    }

   
  } */